<button class="UppyModalOpenerBtn" style="display: none;">Open Uppy Dashboard Modal</button>
<div class="DashboardContainer">
    <div class="uppy-Root uppy-Dashboard uppy-Dashboard--animateOpenClose uppy-size--md" aria-hidden="false" aria-label="Uppy Dashboard">
        <div class="uppy-Dashboard-overlay" tabindex="-1"></div>
        <div class="uppy-Dashboard-inner" style="width: 750px; height: 470px;">
            <button class="uppy-Dashboard-close" type="button" aria-label="Close Modal" title="Close Modal"><span aria-hidden="true">×</span></button>
            <div class="uppy-Dashboard-innerWrap">
                <div class="uppy-DashboarAddFiles">
                    <div class="uppy-DashboardTabs">
                        <div class="uppy-Dashboard-dropFilesTitle">Drop files here, paste or <button type="button" class="uppy-Dashboard-browse">browse</button>
                            <input class="uppy-Dashboard-input" hidden="" aria-hidden="true" tabindex="-1" type="file" name="files[]" multiple="">
                        </div>
                    </div>
                    <div class="uppy-DashboarAddFiles-info">
                        <a tabindex="-1" href="https://uppy.io" rel="noreferrer noopener" target="_blank" class="uppy-Dashboard-poweredBy">

                            <span class="uppy-Dashboard-poweredByUppy">Uppy</span>
                        </a>
                    </div>
                </div>
                <span></span><span></span><span></span>
                <div class="uppy-Dashboard-progressindicators">
                    <div class="uppy uppy-StatusBar is-waiting uppy-StatusBar--detailedProgress" aria-hidden="true">
                        <div class="uppy-StatusBar-progress
                     " role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="width: 0%;"></div>
                        <div class="uppy-StatusBar-actions"></div>
                    </div>
                    <div class="uppy uppy-Informer" aria-hidden="true">
                        <p role="alert"> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>